.bg-btn a{
    padding: 10px 20px;
    background-color: #007bff; /* Change to desired button color */
    color: white;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease;
}

.bg-btn a:hover {
    transform: scale(1.1);
    background-color: none; /* Change to desired hover color */
    color: black;
    border: 1px solid black;
  }
.consultancy-services-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
}

footer p{
    margin: auto;
}

.contact .row{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.business-consultancy .business-para{
    max-width: 80%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.business-consultancy .business-para b{
    font-size: 20px !important;
}


.consultancy-services-img{
    margin-right: 20px;
}

.consultancy-services-content b{
    font-size: 20px;
}

.consultancy-services-content p{
    font-size: 18px;
}

.accounting-services .accounting-topic-content p{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}

/* .accounting-services .accounting-services-carousel{
    padding-left: 20px !important;
} */